body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

h1, h3 {
    text-align: center;
    margin: 20px 0 0 0;
}

h1 {
    color: red;
}

h3 {
    color: #38A322;
}

input {
    /*margin: 10px 0;*/
}

select {
    /*width: 100%;*/
}

.name-block {
    margin: 0;
    /*border: 1px solid #e3e3e3;*/
    border-radius: 5px;
}

.inputs, .press-selector, .temp-selector, .selector-center {
    display: flex;
    justify-content: center;
}

select, input, #temp-right {
    /*border: 1px solid #e3e3e3;*/
    /*border-radius: 5px;*/

}

.container {
    display: block;
    padding: 20px;
    margin: 10px 0 0 0;
    border: 2px solid #1ac0c6;
    border-radius: 10px;
}

.press, .temp {
    min-height: 20%;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    padding: 0 0 10px 0;
    margin: 10px 0;
}

.temp-selector, .press-selector {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

#temp-selector {
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 5px;
}

#sign {
    margin: 0;
    padding: 0 10px 0 10px;
}

.press-left, .press-right, .temp-left, .temp-right {
    display: grid;
    margin: 0 10px;
}

#temp-right {
    /*border: 1px solid #000;*/
    margin: 0;
    padding: 0 3px;
}

#calc-temp-left, #calc-temp-right {
    justify-content: space-between;
    margin: 0 55px;
}

h1 {
    font-size: 150%;
}

h3 {
    font-size: 150%;
}

option {
    /*font-size: 80%*/
}




@media (max-device-width: 992px) {
    .container {
        /*min-height: 99vh;*/
    }

    .press-selector {
        /*border: 1px solid #ccc;*/
        /*min-height: 50%;*/
    }

    .press, .temp {
        display: flex;
        flex-flow: column;
    }

    input, select, button {
        font-size: calc(1.375rem + 1.5vw)!important;
    }

    #temp-right {
        font-size: calc(1.375rem + 1.0vw)!important;
    }

    .buttons {
        margin-top: 20px;
    }
}

@media (min-device-width: 992px) {
    .press, .temp {
        min-height: 0;
    }
}


/*@media (min-device-width: 1301px) and (max-device-width: 1400px) {
	.container {
		min-height: 99vh;
	}

	h1 {
  		font-size: 250%;
	}

	h3 {
  		font-size: 150%;
	}

	select, input, button, #temp-right {
		font-size: 16px;
    	width: 200px;
	}

	option {
		font-size: 70%
	}
}

@media (min-device-width: 991px) and (max-device-width: 1300px) {
	.container {
		width: 60%;
	}

	h1 {
  		font-size: 300%;
	}

	h3 {
  		font-size: 200%;
	}

	select, input, button, #temp-right {
		font-size: 17px;
    	width: 200px;
	}

	option {
		font-size: 70%
	}
}

@media (min-device-width: 791px) and (max-device-width: 990px) {
	.container {
		width: 50%;
	}

	h1 {
  		font-size: 200%;
	}

	h3 {
  		font-size: 200%;
	}

	select, input, button, #temp-right {
		font-size: 20px;
    	width: 200px;
	}

	option {
		font-size: 70%
	}
}

@media (max-device-width: 790px) {
	h1 {
  		font-size: 500%;
	}

	h3 {
  		font-size: 300%;
	}

	.container {
		width: 90%;
	}

	select, input, button, #temp-right {
		font-size: 30px;
    	width: 300px;
	}

	option {
		font-size: 50%
	}
}*/
